.App {
  text-align: center;
}
* {
  font-family: "Montserrat", sans-serif;
}
body {
}
.flexed-list {
  display: flex;
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.trans-btn {
  color: #3789ff;
  border: 2px solid;
}
.blue-btn {
  background-color: #3789ff;
}
