.App {
  text-align: center;
}
* {
  font-family: "Montserrat", sans-serif;
}
body {
}
.flexed-list {
  display: flex;
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.trans-btn {
  color: #3789ff !important;
  border: 2px solid #3789ff !important;
}
.blue-btn {
  background-color: #3789ff;
}
.sub-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #94a2b3;
}
/* 
@media screen and (max-width: 1000px) {
  body{
    font-size: 90%;
  }
  .trans-btn, .blue-btn {
    width: 8rem;
  }
} */
